<!doctype html>
<html>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='/static/css/style.css'/>

    <head>
      <title>Pixiebox</title>
    </head>
    <body>
        <!-- Top Menu -->
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/backup" class="active">Backup</a>
            <a href="/assign_tag">RFID Tags</a>
        </div>

        <h1>Save and Restore</h1>

        <form action="/export_backup">
            <input class="btn info" type="submit" value="Create Backup" />
        </form>

        {% if msg %}
        <div>
            <ul><li>{{ msg }}</li></ul>
        </div>
        {% endif %}

        <form method="POST" action="/backup" enctype="multipart/form-data">
          <p><input type="file" name="backup" required></p>
          <p><input class="btn warning" type="submit" value="Restore"></p>
        </form>
    </body>
</html>
