<!doctype html>
<html>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='/static/css/style.css'/>

    <head>
      <title>Pixiebox</title>
    </head>
    <body>
        <script src="/static/js/tabs.js" language="JavaScript" type="text/javascript"></script>

        <!-- Top Menu -->
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/backup" class="active">Backup</a>
            <a href="/assign_tag">RFID Tags</a>
        </div>

        <h1>Save and Restore</h1>

        {% if msg %}
        <div>
            <ul><li>{{ msg }}</li></ul>
        </div>
        {% endif %}

        <div class="tab">
          <button class="tablinks" onclick="openTab(event, 'Create')" id="defaultOpen">Create</button>
          <button class="tablinks" onclick="openTab(event, 'Restore')">Restore</button>
        </div>

        <!-- Tab content -->
        <div id="Create" class="tabcontent">
            <h3>Create Backup</h3>

            <form action="/export_backup">
                <input class="btn info" type="submit" value="Download" />
            </form>
        </div>

        <div id="Restore" class="tabcontent">
            <h3>Restore from Backup</h3>

            <form method="POST" action="/backup" enctype="multipart/form-data">
              <p><input type="file" name="backup" required></p>
              <p><input class="btn warning" type="submit" value="Restore"></p>
            </form>
        </div>

        <script>document.getElementById("defaultOpen").click();</script>
    </body>
</html>
