<!doctype html>
<html>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='/static/css/style.css'/>

    <head>
      <title>Pixiebox</title>
    </head>
    <body>
        <script type=text/javascript>
            function shutdown() {
                var request = new XMLHttpRequest();
                request.open("GET", '/shutdown_system', true);
                request.send();
            }
        </script>

        <!-- Top Menu -->
        <div class="topnav">
            <a href="/" class="active">Home</a>
            <a href="/backup">Backup</a>
            <a href="/assign_tag">RFID Tags</a>
        </div>

        <h1>Pixiebox</h1>

        <ul id="rfids">
            {% for item in rfids %}
            <li>{{ item }}</a></li>
            {% endfor %}
        </ul>

        <form action="/shutdown_system">
            <input class="btn danger" type="submit" value="Shutdown" />
        </form>
    </body>
</html>
