<!doctype html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href='/static/css/style.css'/>
    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <head>
      <title>Pixiebox</title>
    </head>
    <body>

        <!-- Top Menu -->
        <div class="topnav">
            <a href="/" class="active">Home</a>
            <a href="/backup">Backup</a>
            <a href="/assign_tag">RFID Tags</a>
            <a href="/system_info">System</a>
        </div>

        <h1>Pixiebox</h1>

        {% if msg %}
        <div>
            <ul><li>{{ msg }}</li></ul>
        </div>
        {% endif %}

        <fieldset>
            <legend>Media Controls</legend>

            <div class="media-buttons">
                <button class="btn info" onclick="location.href='/run_system_command?command=VOLUME_DOWN'" type="button">
                    <i class="fa fa-volume-down"></i>
                </button>
                &nbsp;&nbsp; {{ volume }}% &nbsp;&nbsp;
                <button class="btn info" onclick="location.href='/run_system_command?command=VOLUME_UP'" type="button">
                    <i class="fa fa-volume-up"></i>
                </button>
            </div>

            <div class="media-buttons">
                <button class="btn info" onclick="location.href='/run_system_command?command=PREVIOUS'" type="button">
                    <i class="fa fa-backward"></i>
                </button>&nbsp;
                <button class="btn info" onclick="location.href='/run_system_command?command=STOP'" type="button">
                    <i class="fa fa-stop"></i>
                </button>&nbsp;
                <button class="btn info" onclick="location.href='/run_system_command?command=NEXT'" type="button">
                    <i class="fa fa-forward"></i>
                </button>
            </div>

        </fieldset>

        <br />

        <form method="POST" action="/">
            <fieldset>
                <legend>Sleep Timer</legend>
                <br />

                {% if sleep_timer_timeout %}
                <input name="enable-sleep-timer" type="checkbox" checked="checked"/>
                {% else %}
                <input name="enable-sleep-timer" type="checkbox" />
                {% endif %}
                 Enable Sleep Timer<br /><br />

                <div>
                    <label for="sleep-timer-timeout">Timeout:</label>
                    {% if sleep_timer_timeout %}
                    <input type="text" id="sleep-timer-timeout" name="sleep-timer-timeout-in-minutes" value="{{ sleep_timer_timeout }}"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                    {% else %}
                    <input type="text" id="sleep-timer-timeout" name="sleep-timer-timeout-in-minutes"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                    {% endif %}
                    minutes
                </div>
                <br />

                <input class="btn success" type="submit" value="Save">
            </fieldset>
        </form>

        <div class="media-buttons">
            <button class="btn danger" onclick="location.href='/run_system_command?command=SHUTDOWN'" type="button">
                <i class="fa fa-power-off"></i> Shutdown
            </button>
        </div>
    </body>
</html>
